<template name="addUser">
 
<div class="ui floating labeled icon dropdown tiny button">
    <i class="add user icon"></i>
    <span class="text">Add User</span>
    <div class="menu">
      <div class="header">
        People You Might Know
      </div>
      <div class="item">
        <img class="ui mini avatar image" src="/images/avatar/small/jenny.jpg">
        Jenny Hess
      </div>
      <div class="item">
        <img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">
        Elliot Fu
      </div>
      <div class="item">
        <img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">
        Stevie Feliciano
      </div>
      <div class="header">
        Your Friends' Friends
      </div>
      <div class="item">
        <img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">
        Christian
      </div>
      <div class="item">
        <img class="ui mini avatar image" src="/images/avatar/small/matt.jpg">
        Matt
      </div>
      <div class="item">
        <img class="ui mini avatar image" src="/images/avatar/small/justen.jpg">
        Justen Kitsune
      </div>
    </div>
  </div>

 </template>