<template name="projectAcquisition">
<div class="eight wide column">
{{> dividerAkquisitionTeam}}  
<div class="ui divided list">
 
{{#each akquise}}
  <div class="item">
  <div class="right floated small icon ui buttons">
  <div class="ui button"><i class="edit icon"></i></div>
  <div class="ui button"><i class="remove User icon"></i></div>
  </div>
  <img class="ui avatar image" src="/images/avatar/small/justen.jpg">
    <div class="content">
      <div class="header">{{name}} <span class="teamProzent">| {{prozent}}%</span></div>       
    </div>
  </div>
{{/each}} 
</div>


 <hr>
 <div class="right floated column"> {{> addUser}}</div>   

</div>
</template>