<template name="billableSubmit">

<div class="four wide column"> 
<form class="ui form">
  <div class="ui form">
  <div class="three fields">
    <div class="field">
    <label>User Input</label>
    <input class="form-control" id="title" name="title" value="" placeholder="Projektnamen eintragen">
    </div>


  <!-- <div class="field">
    <label>User Input</label>
     <input class="form-control" id="jobnummer" name="jobnummer" value="" placeholder="job Nummer eintragen">
  </div> -->

  <div class="field">
    <label>User Input</label>
     <input class="form-control" type="Number" id="cost" name="cost" value="" placeholder="Angebotssumme">
  </div>
</div>

<div class="right floated column">
<button class="ui right tiny labeled icon button" name="commit" type="submit">
  <i class="right arrow icon"></i>
  Beleg hinzufügen
</button>

<!--  <input class="ui right tiny labeled icon button" name="commit" type="submit" value="Projekt erstellen"> -->
</div>
</div>
</form>
</div>
</template>