<template name="billableItem">
   
<div class="sixteen wide column">  

<table class="ui teal table">
  <thead>
    <tr>
      <th>Beleg Name</th>
      <th>Kategorie</th>
      <th>Betrag ohne (MwSt.)</th>
    </tr>
  </thead>
  <tbody>
    {{#each billable}}
    <tr>
      <td>{{name}}</td>
      <td>Approved</td>
      <td class="right aligned">{{cost}}</td>
    </tr>
    {{/each}}
  </tbody>

    <tfoot class="full-width">
    <tr>
      <th></th>
      <th><h5>Summe</h5></th>
      <th class="right aligned"><h5>279,89€</h5></th>
    </tr>
  </tfoot>
</table>
 {{> billableSubmit}}

</div>
</template>