<template name="projectSubmit">
{{> sAlert}}
<div class="ui page grid">  
<div class="eight wide column"> 
<form class="ui form">
  <h4 class="ui dividing header">Personal Information</h4>
  <div class="ui form">
    <div class="field">
    <label>Projektbeschreibung</label>
    <input class="form-control" id="title" name="title" value="" placeholder="Projektnamen eintragen">
    </div>


  <div class="field">
     <input class="form-control" id="jobnummer" name="jobnummer" value="" placeholder="Jobnummer eintragen">
  </div>


  <label>Leistungszeitraum</label>

   <input type="text" class="form-control datepicker" name="startate" placeholder="Projekt Start">

  

<div class="field">
    <label>Betrag</label>
     <input class="form-control" type="Number" id="betrag" name="betrag" value="" placeholder="Angebotssumme">
  </div>

  

 <input class="ui right tiny labeled button" name="commit" type="submit" value="Projekt erstellen">
</div>
</form>
</div>
</div>
</template>